EW/src/conf/xml-resources/web-service-references/OperacionesTropas/wsdl/localhost_8080/OperacionesTropas/OperacionesTropas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="OperacionesTropas">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/OperacionesTropas/OperacionesTropas?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarTropasDefensivas">
<part name="parameters" element="tns:agregarTropasDefensivas"/>
</message>
<message name="agregarTropasDefensivasResponse">
<part name="parameters" element="tns:agregarTropasDefensivasResponse"/>
</message>
<message name="eliminarTropasOfensivas">
<part name="parameters" element="tns:eliminarTropasOfensivas"/>
</message>
<message name="eliminarTropasOfensivasResponse">
<part name="parameters" element="tns:eliminarTropasOfensivasResponse"/>
</message>
<message name="getNivelFabricaAtaque">
<part name="parameters" element="tns:getNivelFabricaAtaque"/>
</message>
<message name="getNivelFabricaAtaqueResponse">
<part name="parameters" element="tns:getNivelFabricaAtaqueResponse"/>
</message>
<message name="getNivelFabricaDefensa">
<part name="parameters" element="tns:getNivelFabricaDefensa"/>
</message>
<message name="getNivelFabricaDefensaResponse">
<part name="parameters" element="tns:getNivelFabricaDefensaResponse"/>
</message>
<message name="mejorarTropaOfensiva">
<part name="parameters" element="tns:mejorarTropaOfensiva"/>
</message>
<message name="mejorarTropaOfensivaResponse">
<part name="parameters" element="tns:mejorarTropaOfensivaResponse"/>
</message>
<message name="mejorarFabricaOfensiva">
<part name="parameters" element="tns:mejorarFabricaOfensiva"/>
</message>
<message name="mejorarFabricaOfensivaResponse">
<part name="parameters" element="tns:mejorarFabricaOfensivaResponse"/>
</message>
<message name="mejorarFabricaDefensiva">
<part name="parameters" element="tns:mejorarFabricaDefensiva"/>
</message>
<message name="mejorarFabricaDefensivaResponse">
<part name="parameters" element="tns:mejorarFabricaDefensivaResponse"/>
</message>
<message name="agregarTropasOfensivas">
<part name="parameters" element="tns:agregarTropasOfensivas"/>
</message>
<message name="agregarTropasOfensivasResponse">
<part name="parameters" element="tns:agregarTropasOfensivasResponse"/>
</message>
<message name="mejorarTropaDefensiva">
<part name="parameters" element="tns:mejorarTropaDefensiva"/>
</message>
<message name="mejorarTropaDefensivaResponse">
<part name="parameters" element="tns:mejorarTropaDefensivaResponse"/>
</message>
<message name="getTropaAtaque">
<part name="parameters" element="tns:getTropaAtaque"/>
</message>
<message name="getTropaAtaqueResponse">
<part name="parameters" element="tns:getTropaAtaqueResponse"/>
</message>
<message name="getTropaDefensa">
<part name="parameters" element="tns:getTropaDefensa"/>
</message>
<message name="getTropaDefensaResponse">
<part name="parameters" element="tns:getTropaDefensaResponse"/>
</message>
<portType name="OperacionesTropas">
<operation name="agregarTropasDefensivas">
<input wsam:Action="http://webservices/OperacionesTropas/agregarTropasDefensivasRequest" message="tns:agregarTropasDefensivas"/>
<output wsam:Action="http://webservices/OperacionesTropas/agregarTropasDefensivasResponse" message="tns:agregarTropasDefensivasResponse"/>
</operation>
<operation name="eliminarTropasOfensivas">
<input wsam:Action="http://webservices/OperacionesTropas/eliminarTropasOfensivasRequest" message="tns:eliminarTropasOfensivas"/>
<output wsam:Action="http://webservices/OperacionesTropas/eliminarTropasOfensivasResponse" message="tns:eliminarTropasOfensivasResponse"/>
</operation>
<operation name="getNivelFabricaAtaque">
<input wsam:Action="http://webservices/OperacionesTropas/getNivelFabricaAtaqueRequest" message="tns:getNivelFabricaAtaque"/>
<output wsam:Action="http://webservices/OperacionesTropas/getNivelFabricaAtaqueResponse" message="tns:getNivelFabricaAtaqueResponse"/>
</operation>
<operation name="getNivelFabricaDefensa">
<input wsam:Action="http://webservices/OperacionesTropas/getNivelFabricaDefensaRequest" message="tns:getNivelFabricaDefensa"/>
<output wsam:Action="http://webservices/OperacionesTropas/getNivelFabricaDefensaResponse" message="tns:getNivelFabricaDefensaResponse"/>
</operation>
<operation name="mejorarTropaOfensiva">
<input wsam:Action="http://webservices/OperacionesTropas/mejorarTropaOfensivaRequest" message="tns:mejorarTropaOfensiva"/>
<output wsam:Action="http://webservices/OperacionesTropas/mejorarTropaOfensivaResponse" message="tns:mejorarTropaOfensivaResponse"/>
</operation>
<operation name="mejorarFabricaOfensiva">
<input wsam:Action="http://webservices/OperacionesTropas/mejorarFabricaOfensivaRequest" message="tns:mejorarFabricaOfensiva"/>
<output wsam:Action="http://webservices/OperacionesTropas/mejorarFabricaOfensivaResponse" message="tns:mejorarFabricaOfensivaResponse"/>
</operation>
<operation name="mejorarFabricaDefensiva">
<input wsam:Action="http://webservices/OperacionesTropas/mejorarFabricaDefensivaRequest" message="tns:mejorarFabricaDefensiva"/>
<output wsam:Action="http://webservices/OperacionesTropas/mejorarFabricaDefensivaResponse" message="tns:mejorarFabricaDefensivaResponse"/>
</operation>
<operation name="agregarTropasOfensivas">
<input wsam:Action="http://webservices/OperacionesTropas/agregarTropasOfensivasRequest" message="tns:agregarTropasOfensivas"/>
<output wsam:Action="http://webservices/OperacionesTropas/agregarTropasOfensivasResponse" message="tns:agregarTropasOfensivasResponse"/>
</operation>
<operation name="mejorarTropaDefensiva">
<input wsam:Action="http://webservices/OperacionesTropas/mejorarTropaDefensivaRequest" message="tns:mejorarTropaDefensiva"/>
<output wsam:Action="http://webservices/OperacionesTropas/mejorarTropaDefensivaResponse" message="tns:mejorarTropaDefensivaResponse"/>
</operation>
<operation name="getTropaAtaque">
<input wsam:Action="http://webservices/OperacionesTropas/getTropaAtaqueRequest" message="tns:getTropaAtaque"/>
<output wsam:Action="http://webservices/OperacionesTropas/getTropaAtaqueResponse" message="tns:getTropaAtaqueResponse"/>
</operation>
<operation name="getTropaDefensa">
<input wsam:Action="http://webservices/OperacionesTropas/getTropaDefensaRequest" message="tns:getTropaDefensa"/>
<output wsam:Action="http://webservices/OperacionesTropas/getTropaDefensaResponse" message="tns:getTropaDefensaResponse"/>
</operation>
</portType>
<binding name="OperacionesTropasPortBinding" type="tns:OperacionesTropas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarTropasDefensivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarTropasOfensivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNivelFabricaAtaque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNivelFabricaDefensa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorarTropaOfensiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorarFabricaOfensiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorarFabricaDefensiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarTropasOfensivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorarTropaDefensiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTropaAtaque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTropaDefensa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OperacionesTropas">
<port name="OperacionesTropasPort" binding="tns:OperacionesTropasPortBinding">
<soap:address location="http://localhost:8080/OperacionesTropas/OperacionesTropas"/>
</port>
</service>
</definitions>