EW/web/WEB-INF/wsdl/localhost_8080/OperacionesCampamento/OperacionesCampamento.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="agregarTropasCampamento" type="tns:agregarTropasCampamento"/>

<xs:element name="agregarTropasCampamentoResponse" type="tns:agregarTropasCampamentoResponse"/>

<xs:element name="campamento" type="tns:campamento"/>

<xs:element name="getCampamento" type="tns:getCampamento"/>

<xs:element name="getCampamentoResponse" type="tns:getCampamentoResponse"/>

<xs:element name="nuevoCampamento" type="tns:nuevoCampamento"/>

<xs:element name="nuevoCampamentoResponse" type="tns:nuevoCampamentoResponse"/>

<xs:element name="obtenerCampamentos" type="tns:obtenerCampamentos"/>

<xs:element name="obtenerCampamentosResponse" type="tns:obtenerCampamentosResponse"/>

<xs:element name="reiniciarCampamentos" type="tns:reiniciarCampamentos"/>

<xs:element name="reiniciarCampamentosResponse" type="tns:reiniciarCampamentosResponse"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="nuevoCampamento">
<xs:sequence>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoCampamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarTropasCampamento">
<xs:sequence>
<xs:element name="posicionesOcupadas" type="xs:int"/>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarTropasCampamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCampamento">
<xs:sequence>
<xs:element name="idCampamento" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCampamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:campamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="campamento">
<xs:sequence>
<xs:element name="FKCampamentoUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="idCampamento" type="xs:int" minOccurs="0"/>
<xs:element name="total" type="xs:int" minOccurs="0"/>
<xs:element name="tropasAlmacenadas" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCampamentos">
<xs:sequence>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCampamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:campamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reiniciarCampamentos">
<xs:sequence>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reiniciarCampamentosResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>