EW/src/conf/xml-resources/web-service-references/GestionPerfilUsuario/wsdl/localhost_8080/GestionPerfilUsuario/GestionPerfilUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="cambiarPassword" type="tns:cambiarPassword"/>

<xs:element name="cambiarPasswordResponse" type="tns:cambiarPasswordResponse"/>

<xs:element name="eliminarCuenta" type="tns:eliminarCuenta"/>

<xs:element name="eliminarCuentaResponse" type="tns:eliminarCuentaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="restablecerPassword" type="tns:restablecerPassword"/>

<xs:element name="restablecerPasswordResponse" type="tns:restablecerPasswordResponse"/>

<xs:complexType name="eliminarCuenta">
<xs:sequence>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarPassword">
<xs:sequence>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="viejaPassword" type="xs:string" minOccurs="0"/>
<xs:element name="nuevaPassword" type="xs:string" minOccurs="0"/>
<xs:element name="repiteNuevaPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restablecerPassword">
<xs:sequence>
<xs:element name="emailUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restablecerPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>